.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px;
}

.proceed-link{
    text-decoration: none;
}

.btn-proceed{
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 17px;
    background-color: orange;
    margin-top: 10px;
}